@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.silde{
    height:100%;
    width:100%;
    overflow: hidden;
    margin:0;
    padding:0;
   
}
.slide-img{
    height:100%;
    width:100%;
}
.slide-dots{
    position: absolute;
    width:100%;
    bottom:0;
    padding:0;
    line-height: 0px;
    text-align: center;
    li{
        display: inline-block;
        list-style: none;
        &::before{
            content:"";
            display: block;
            width:8px;
            height:8px;
            margin:0 10px;
            background-color:rgba(#fff, .6);
        }
        &.slick-active::before{
            background-color: #f40;
        }
        button{
            font-size: 0;
            line-height: 0;
            padding:0;
            border:none;
            color:transparent;
        }
    }

}