@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
.silde {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slide-img {
  height: 100%;
  width: 100%; }

.slide-dots {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0;
  line-height: 0px;
  text-align: center; }
  .slide-dots li {
    display: inline-block;
    list-style: none; }
    .slide-dots li::before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      margin: 0 10px;
      background-color: rgba(255, 255, 255, 0.6); }
    .slide-dots li.slick-active::before {
      background-color: #f40; }
    .slide-dots li button {
      font-size: 0;
      line-height: 0;
      padding: 0;
      border: none;
      color: transparent; }
