.home{
  font-size:14px;
  color:red;
  &-slide{
    position: relative;
    height:0;
    padding-bottom: 40%;
    
  }
  &-slideWrapper{
    position: absolute;
    right: 0;
    top:0;
    left:0;
    bottom: 0;
  }
}
