@import "../../utils.scss";
.home{
  font-size:14px;
  // color:red;
  &-slide{
    position: relative;
    height:0;
    padding-bottom: 40%;

  }
  &-slideWrapper{
    position: absolute;
    right: 0;
    top:0;
    left:0;
    bottom: 0;
  }
  &-movieItems{
    padding: 0 20px;
    // margin-top:10px;
    list-style: none;
    li{
      list-style: none;
      &:nth-child(n+2){
        border-top:1px solid $border
      }
      
    }
  }
}
